# composer
composer.phar
composer.lock
/vendor

# project files
/.buildpath
/.idea
/.project
/.settings
/nbproject

# cache directories
Thumbs.db
*.DS_Store
*.empty

# mac deployment helpers
switch
index

# runtime and cache directories
/app/runtime
/web/assets

# vagrant
.vagrant
